/*Index*/

/*Activities*/
.list {
  width: 750px;
}

/*Contact*/
.phone {
  margin-bottom: 20px;
}
.email {
  margin-bottom: 20px;
}
.radios {
  margin-top: 20px;
}
.selectmenu {
  margin-top: 20px;
}
